---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { contentfulClient, type Post } from "../lib/contentful";
import Posts from "./partials/posts.astro";
import { css } from "../../styled-system/css";

const entries = await contentfulClient.getEntries<Post>({
  content_type: "post",
});

const postsContentful = entries.items.map((item) => {
  const { title, slug, publishDate } = item.fields;
  return {
    title,
    slug,
    publishDate: new Date(publishDate).toLocaleDateString(),
  };
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>

      <!-- <h2>Contentful Posts:</h2>
      {
        postsContentful && (
          <ul>
            {postsContentful.map((post) => (
              <li>
                <a href={`blog/${post.slug}`}>
                  Title:{post.title}, Date: {post.publishDate}, Slug:{" "}
                  {post.slug}
                </a>
              </li>
            ))}
          </ul>
        )
      } -->
      <hr style="margin: 40px" />

      {/* HTMX Testing */}
      <h2
        class={css({
          fontSize: 32,
          width: "full",
          justifyContent: "space-between",
        })}
      >
        HTMX Testing Section
      </h2>
      <div>Pagination: (Convert into component)</div>
      {
        [1, 2, 3].map((page) => (
          <button
            class={css({
              fontSize: 16,
              background: "gray",
              mx: 1,
              padding: 2,
              justifyContent: "space-between",
              cursor: "pointer",
            })}
            hx-get={`/partials/posts?page=${page}`}
            hx-target="#contents"
          >
            {page}
          </button>
        ))
      }

      <div id="contents" class="mt-3 p-3 border-2 rounded-xl">
        <Posts />
      </div>

      <!-- <div id="contents"></div> -->
      <hr style="margin: 40px" />
      <!-- <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template. This template serves as a lightweight, minimally-styled starting
        point for anyone looking to build a personal website, blog, or portfolio
        with Astro.
      </p>
      <p>
        This template comes with a few integrations already configured in your
        <code>astro.config.mjs</code> file. You can customize your setup with
        <a href="https://astro.build/integrations">Astro Integrations</a> to add
        tools like Tailwind, React, or Vue to your project.
      </p>
      <p>Here are a few ideas on how to get started with the template:</p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
        <li>
          Edit the site header items in <code>src/components/Header.astro</code>
        </li>
        <li>
          Add your name to the footer in <code>src/components/Footer.astro</code
          >
        </li>
        <li>
          Check out the included blog posts in <code>src/pages/blog/</code>
        </li>
        <li>
          Customize the blog post page layout in <code
            >src/layouts/BlogPost.astro</code
          >
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to <a
          href="https://docs.astro.build/"
          >read the docs
        </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
        questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out <a
          href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template
        </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p> -->
    </main>
    <Footer />
  </body>
</html>
