---
import Pagination from "./PagePagination.astro";
import { POSTS_PER_PAGE_MAX } from "../consts";
import { css } from "../../styled-system/css";
import { contentfulClient, type Work } from "../lib/contentful";

export const contentfulEntries = await contentfulClient.getEntries<Work>({
  content_type: "work",
});

export const contentfulPosts = contentfulEntries.items.map((item:any) => {
  const { title, slug, metaDescription, publishDate } = item.fields;
  return {
    title,
    slug,
    metaDescription,
    publishDate: new Date(publishDate).toLocaleDateString(),
  };
});

export const contentfulPostsLength = contentfulPosts.length;

const page = parseInt(Astro.url.searchParams.get("page") || "1");
const worksPerPage = POSTS_PER_PAGE_MAX;
const totalPages = Math.ceil(contentfulPostsLength / worksPerPage);

const works = contentfulPosts.slice(
  (page - 1) * worksPerPage,
  page * worksPerPage
);
---

<ul>
  {
    works.map((post: any) => (
      <li
        class={css({
          mb: 4,
          color: "primary",
        })}
      >
        Title: {post.title}, Date: {post.publishDate}, Slug: {post.slug}
      </li>
    ))
  }
</ul>

<Pagination currentPage={page} totalPages={totalPages} />
